<h1>Message board</h1>
<ul>
  <li><%= link_to 'Home', controller: 'welcome' %></li>
  <li class="active"><%= link_to 'Message board', controller: 'messages' %></li>
  <li><%= link_to 'Create message', new_message_path %></li>
  <li><%= link_to 'Todo', todolists_path %></li>
</ul>



<p class="navbar-text pull-right">
  <% if user_signed_in? %>
      Logged in as <strong><%= current_user.email %></strong>.
      <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
      <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
  <% else %>
      <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
      <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
  <% end %>
</p>

<table>
  <tr class="<%= cycle('list_line_odd', 'list_line_even')%>">
    <th>Title</th>
    <th>Text</th>
    <th>User</th>
    <th colspan="3"></th>
  </tr>

  <% @messages.each do |message| %>
      <tr class="<%= cycle('list_line_odd', 'list_line_even')%>">
        <td class="list_title"><%= message.title %></td>
        <td class="list_text"><%= message.text %></td>
        <td class="list_user"><%= message.user.email %></td>
        <td class="list_actions"><%= link_to 'Show', message_path(message), class: 'link_to_text_color' %><br/>

          <% if message.user == current_user %>
          <%= link_to 'Edit', edit_message_path(message), class: 'link_to_text_color'%><br/>
          <%= link_to 'Delete', message_path(message),
          method: :delete,
          data: { confirm: 'Are you sure?' }, class: 'link_to_text_color' %>
          <% end %>

        </td>
      </tr>
  <% end %>
</table>
<br/>
<%= link_to 'New message', new_message_path, class: 'link_to_text_color'%>