<% if todoitem.completed? %>
    <div>
      <p><s><%= todoitem.content %></s></p>
    </div>
    <div>
      <%= link_to "Complete!", complete_todolist_todoitem_path(@todolist, todoitem.id), method: :patch %>
    </div>
    <div>
      <%= link_to "Delete", todolist_todoitem_path(@todolist, todoitem.id), method: :delete, data: { confirm: "Are you sure?" } %>
    </div>
  <% else %>
    <div>
      <p><s><%= todoitem.content %></s></p>
    </div>
    <div>
      <%= link_to "Complete!", complete_todolist_todoitem_path(@todolist, todoitem.id), method: :patch %>
    </div>
    <div>
      <%= link_to "Delete", todolist_todoitem_path(@todolist, todoitem.id), method: :delete, data: { confirm: "Are you sure?" } %>
    </div>
<% end %>