<h1>Welcome to the starting page</h1>
<ul>
  <li class="active"><%= link_to 'Home', controller: 'welcome' %></li>
  <li><%= link_to 'Message board', controller: 'messages' %></li>
  <li><%= link_to 'Create message', new_message_path %></li>
  <li><%= link_to 'Todo', todolists_path %></li>
</ul>



<p class="navbar-text pull-right">
  <% if user_signed_in? %>
      Logged in as <strong><%= current_user.email %></strong>.
      <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
      <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
  <% else %>
      <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
      <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
  <% end %>
</p>

<p>Welcome! This is a message/todolist application, targeting family or groups.
  Here you can create and view messages and todolist as you please!</p>