<h1>Todolists</h1>
<ul>
  <li><%= link_to 'Home', controller: 'welcome' %></li>
  <li><%= link_to 'Message board', controller: 'messages' %></li>
  <li><%= link_to 'Create message', new_message_path %></li>
  <li class="active"><%= link_to 'Todo', todolists_path %></li>
</ul>



<p class="navbar-text pull-right">
  <% if user_signed_in? %>
      Logged in as <strong><%= current_user.email %></strong>.
      <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
      <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
  <% else %>
      <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
      <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
  <% end %>
</p>
<table>
  <thead>
    <tr>
      <th>Teams</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>



  <tbody>
    <% @todolists.each do |todolist| %>
      <tr>
        <td><%= todolist.title %></td>
        <td><%= todolist.description %></td>
        <td><%= link_to 'Show', todolist %></td>

        <td><%= link_to 'Edit', edit_todolist_path(todolist) %></td>
        <td><%= link_to 'Destroy', todolist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Todolist', new_todolist_path %>
