<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @todolist.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @todolist.description %>
</p>

<div id="todoitems_wrapper">
  <%= render @todolist.todoitems %>
  <div id="form">
    <%= render "todoitems/form" %>
  </div>
</div>

<%= link_to 'Edit', edit_todolist_path(@todolist) %> |
<%= link_to 'Back', todolists_path %>
