// Place all the styles related to the Messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.messages {
  margin: auto;
  width: 50%;
  padding: 10px;

  table {
    border-collapse: collapse;
  }

  table tr td {
    padding: 5px;
    vertical-align: top;
  }

  .list_title {
    width: 20%;
    text-align: center;
  }

  .list_text {
    width: 100%;
    text-align: center;

    dl {
      margin: 0;
    }

    dt{
      color: #0b183d;
      font-weight: bold;
      font-size: larger;
    }
    
    dd {
      margin: 0;
    }
  }

  .list_user{
    text-align: center;
  }
  
  .list_actions{
    font-size: small;
    text-align: right;
    padding-left: 1em;
  }
  
  .list_line_even {
    background: #ebebeb;
  }

  .list_line_odd {
    background: #dfdfdf;
  }
}

.active {
  background-color: #2790a3;
  color: white;
}

.link_to_text_color {
 color: #052538;
}