// Place all the styles related to the todoitems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.todoitems{
  margin: auto;
  width: 50%;
  padding: 10px;
}

.active {
  background-color: #2790a3;
  color: white;
}

.link_to_text_color {
  color: #052538;
}